[submodule "models"]
	path = models
	url = https://github.com/lxwooxy/pytorchvideo
[submodule "unity"]
	path = unity
	url = https://github.com/lxwooxy/iamashape
[submodule "mental-sim"]
	path = mental-sim
	url = https://github.com/lxwooxy/mental-sim
